{% extends 'layout.html' %}
{% load static %}

{% block title %}Portfolio{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1 class="text-center">Welcome to my portfolio<br>built in Django</h1>
        <p class="text-center">Here are some projects grouped within drop-down menus:</p>

        <div class="accordion" id="externalLinksAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Microservices (Python)
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#externalLinksAccordion">
              <div class="accordion-body">
                <div class="card-body">
                  <a href="{% url 'timestamp' %}" target="">Timestamp</a><br>
                  <a href="{% url 'header' %}" target="">Request Header Parser</a><br>
                  <a href="{% url 'file' %}" target="">File Metadata</a><br>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button shadow-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Web Apps (Python/Django/Jinja, MySQL, Bootstrap and JavaScript)
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#externalLinksAccordion">
              <div class="accordion-body">
                  <a href="{% url 'mail:index' %}" target="">Mailbox</a><br>
                  <a href="{% url 'steganography:index' %}" target="">Image based Steganography</a><br>
                  <a href="#" target="_blank">Password Generator (Under Development)</a><br>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button shadow-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Standalone Apps
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#externalLinksAccordion">
              <div class="accordion-body">
                  <a href="https://github.com/wawraf/bulk-renamer" target="_blank">Bulk File Renaming Tool (Python, PyQt5, Qt Designer)</a><br>
                  <a href="https://github.com/wawraf/steganography" target="_blank">Image based Steganography (Python, argparse, pillow)</a><br>
                  <a href="#" target="_blank">Block Breaker Simple Game (C#, Unity) (Under Development)</a><br>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}