{% extends 'layout.html' %}
{% load static %}

{% block title %}Timestamp Microservice{% endblock %}

{% block content %}
    <header>
      <h1>
        Timestamp Microservice
      </h1>
    </header>

    <main>
      <p class="bold">How to use:</p>
      <ol>
        <li>You can pass a string as a parameter, and it will check
          to see whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016).</li>
        <li>If it does, it returns both the Unix timestamp and the natural language form of that date.</li>
        <li>If it does not contain a date or Unix timestamp, it returns null.</li>
      </ol>
      <p class="bold">Examples:</p>
      <ol class = "example">
        <li>https://wawraf.pythonanywhere.microservices/<span class = "bold">December%2015,%202015</span></li>
        <li>https://wawraf.pythonanywhere.microservices/<span class = "bold">1450137600</span></li>
      </ol>
      <p class="bold">Output:</p>
      <ol class = "example">
        <li>{ "unix": 1450137600, "natural": "December 15, 2015" }</li>
      </ol>
    </main>
{% endblock %}